.detail-wrapper {
    max-width: 800px;
   
    padding: 20px;
    border: 1px solid black;
    
  }

  .inside-card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  .detail-img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .detail-title {
    font-size: 28px;
    color: #2c3e50;
  }
  
  .detail-body {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
  }
  
  .back-link {
    text-decoration: none;
    color: #3498db;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: auto;
  }
  