.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
  }
  
  .blog-post:hover {
    transform: translateY(-5px);
  }
  
  .blog-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  
  .blog-title {
    color: #2c3e50;
    text-decoration: none;
  }
  
  .blog-body {
    color: #555;
    text-decoration: none;
  }

  .blogcontainer{
    margin-top: 150px;
    margin-bottom: 100px;
  }
  